<div w11k-slide-master="regular">
  <div w11k-slide-part-source="header">
    Komponenten
  </div>

  <div w11k-slide-part-source="content">
    <ul class="simple">
      <li>Grundlegendes Konzept in Angular 2</li>
      <li>Gesamtes UI ist aus Baum von Komponenten aufgebaut
        <ul>
          <li>&quot;Anwendung&quot; ist Top-Level-Komponente</li>
          <li>Komponenten können geschachtelt werden</li>
        </ul>
      </li>
      <li>Komponenten bestehen aus
        <ul>
          <li>Template / View (HTML)</li>
          <li>Componenten Klasse</li>
          <li>Decorator an Klasse</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
