<div w11k-slide-master="regular">
  <div w11k-slide-part-source="header">
    Komponenten verwenden
  </div>

  <div w11k-slide-part-source="content">
    <ul class="simple">
      <li>Komponenten werden im HTML verwendet
        <ul>
          <li>Verwendung muss genau Selektor entsprechen</li>
        </ul>
      </li>
    </ul>

    <!--@formatter:off-->
<pre w11k-pretty-print lang="html">
&lt;body&gt;
  &lt;h1&gt;Some static text not managed by Angular&lt;/h1&gt;
  &lt;!-- matched by defined selector --&gt;
  &lt;app-root&gt;&lt;/app-root&gt;
&lt;/body&gt;
</pre>
    <!--@formatter:on-->
  </div>
</div>
