<div w11k-slide-master="regular">
  <div w11k-slide-part-source="header">
    Class- und Style-Bindings
  </div>

  <div w11k-slide-part-source="content">
    <ul class="simple">
      <li>Class-Bindings über <code>[class.className]="condition"</code>
        <!--@formatter:off-->
<pre w11k-pretty-print lang="html">
&lt;div [class.selected]=&quot;isSelected(training)&quot;&gt;&lt;/div&gt;
</pre>
        <!--@formatter:on-->
      </li>
      <li>Style-Bindings über <code>[style.cssProperty]="value"</code>
        <!--@formatter:off-->
<pre w11k-pretty-print lang="html">
&lt;img [style.visibility]=&quot;training.image ? 'visible' : 'hidden'&quot;&gt;
</pre>
        <!--@formatter:on-->
      </li>
    </ul>


  </div>
</div>
