<div w11k-slide-master="regular">
  <div w11k-slide-part-source="header">
    Komponenten Outputs
  </div>

  <div w11k-slide-part-source="content">
    <ul class="simple">
      <li>Komponenten können Events nach außen werfen
        <ul>
          <li>Eigenschaft in Controller, vom Typ <code>EventEmitter</code></li>
          <li>Typ-Parameter gibt Typ des Events an</li>
          <li>Eigenschaft wird mit <code>@Output()</code> markiert</li>
          <li>Events können über <code>EventEmitter#emit</code> gefeuert werden</li>
        </ul>
      </li>
    </ul>


    <!--@formatter:off-->
<pre w11k-pretty-print lang="ts">
import {Component, Input, Output, EventEmitter} from "@angular/core";
@Component({
  selector: "release-card", template: `<h3>{{release.name}}</h3>`
})
export class ReleaseCardComponent {
  @Input() public release: Release;
  // we use domain object as event, real world: ReleaseLikedEvent
  @Output() public releaseLiked = new EventEmitter&lt;Release&gt;();
  likeRelease() { this.releaseLiked.emit(this.release); }
}
</pre>
    <!--@formatter:on-->
  </div>
</div>
