<div w11k-slide-master="regular">
  <div w11k-slide-part-source="header">
    Direktiven
  </div>

  <div w11k-slide-part-source="content">
    <ul class="simple">
      <li>Allgemeines Konzept
        <ul>
          <li>Komponenten</li>
          <li>Strukturelle Direktiven</li>
          <li>Attribut-Direktiven</li>
        </ul>
      </li>
      <li><i>Direktiven</i> meint meist strukturelle und Attribut-Direktiven
        <ul>
          <li>Wie Komponenten Teil des UI</li>
          <li>Unterschied zu Komponenten: kein eigenes Template</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
