<div w11k-slide-master="regular">
  <div w11k-slide-part-source="header">
    Komponenten mit Data-Binding
  </div>

  <div w11k-slide-part-source="content">
    <ul class="simple">
      <li>Template nicht statisch sondern dynamisch</li>
      <li>Instanz von Klasse stellt Daten bereit</li>
      <li>Template zeigt Daten an
        <ul>
          <li>Interpolation mit <code ng-non-bindable>{{ expression }}</code></li>
          <li>Gibt Ergebnis der Expression als String aus</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
