<div w11k-slide-master="regular">
  <div w11k-slide-part-source="header">
    Komponenten mit Data-Binding
  </div>

  <div w11k-slide-part-source="content">
    <!--@formatter:off-->
<pre w11k-pretty-print lang="ts">
import { Training } from "./../training/training.model";
@Component({
  selector: "app-root",
  template: `
    <h1>Training App</h1>
    We offer {{trainings.length}} trainings
  `
})
export class AppComponent {
  public trainings: Training[];
  constructor() {
    this.trainings = [
      new Training("Angular 2"), new Training("AngularJS 1"),
      new Training("TypeScript"), new Training("Eclipse RCP")
    ];
  }
}
</pre>
    <!--@formatter:on-->
  </div>
</div>
